<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ZEALER S</title>
    <link rel="stylesheet" href="__ROOT__/Index/Common/css/login.css" />
    <script type="text/javascript" src="__ROOT__/Index/Common/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Index/Common/js/angular.min.js"></script>
</head>

<body ng-app="myapp" ng-controller="mycontroller">
    <div class="login_box">
        <div class="login_top">
            <div class="login_border"></div>
            <div class="login_img">
                <img src="__ROOT__/Index/Common/images/login.png" />
            </div>
        </div>
        <div class="login_center">
            <div class="center_right">
                <img src="__ROOT__/Index/Common/images/login1.png" />
            </div>
            <div class="center_left">
                <input type="text" ng-model="phone" class="text" placeholder="邮箱、手机" />
                </br>
                <input type="password" ng-model="pwd" class="password" placeholder="密码" />
                </br>
                <span class="remember"><em class="chec"></em>记住密码</span>
                <a class="forget" href="">忘记密码？</a>
                <button class="landed" ng-click="sub()">登陆</button>
                <span class="account">还没有账号，<a href="###">使用以下方式登陆</a></span>
                <div class="a_father">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="__ROOT__/Index/Common/js/jquery-3.2.1.min.js"></script>
<script>
    $('.remember').click(function () {
        $(this).find('.chec').toggleClass("xinzeng");
    })
    var app = angular.module("myapp", []);
    app.controller("mycontroller", function ($scope, $http) {
        $scope.phone = "";
        $scope.pwd = "";
        $scope.sub = function () {
            var url = "__APP__/Login/checkUsers";
//          console.log("111");
            $http({
                url: url,
                method: "POST",
                headers: {
                    "Content-type": "application/x-www-form-urlencoded"
                },
                data: {
                    phone: $scope.phone,
                    pwd: $scope.pwd
                }
            }).success(function (data) {
                if (data.status == 1) {
                    window.location.href = "__APP__/Index/index";
                } else {
                    console.log(data.info);
                }
            })
        }
    })
</script>

</html>